%tr
  %td.center= toto_form.round
  %td.center= toto_form.round_date
  %td.center
    %p
      %button.btn.btn-primary.btn-xs{"data-placement" => "top", "data-target" => "#edit", "data-title" => "Edit", "data-toggle" => "modal", :rel => "tooltip"}
        %span.glyphicon.glyphicon-pencil
  %td.center
    %p
      %button.btn.btn-danger.btn-xs{"data-placement" => "top", "data-target" => "#delete", "data-title" => "Delete", "data-toggle" => "modal", :rel => "tooltip"}
        %span.glyphicon.glyphicon-trash
  .clearfix

